/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    /* font-family: 'Ibarra Real Nova', serif; */
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 57px;
    cursor: pointer;
    border-radius: 100px;
    border: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(128, 125, 125, 0.603);
}

/* Header */
.header__wrap {
    display: flex;
    justify-content: flex-end;
    padding: 55px 0;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 0;
    top: 30px;
}

/* Navigation */

.nav {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: #0E1D2C;
    margin-left: 50px;
    transition: color 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: rgb(13, 16, 216);
    text-decoration: underline;
}

/* Intro */

.intro__wrap {
    display: flex;
    min-height: 605px;
}

.intro__info {
    width: 50%;
}

.intro__title {
    padding-top: 130px;
    padding-right: 85px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    color: #0E1D2C;
}

.intro__subtitle {
    font-weight: 300;
    line-height: 1.6;
    color: #0E1D2C;
    padding-top: 35px;
    padding-right: 240px;
    margin-bottom: 40px;
}

.btn--blue {
    color: #fff;
    background-color: #3EADEC;
    transition: background-color 0.2s linear;
}

.btn--blue:hover {
    background-color: rgb(7, 116, 179);
}

.btn--blue:focus {
    outline: none;
    background-color: rgb(7, 116, 179);
}

.intro__baner {
    position: relative;
    width: 50%;
}

.intro__image {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.intro__icon {
    position: absolute;
    z-index: 5;
    bottom: -107px;
    left: 50%;
    opacity: 0.1;
}

/* Story */

.story__wrap {
    display: flex;
    margin-top: 110px;

}

.story__image {
    object-fit: cover;
}

.story__content {
    margin-left: 115px;
    max-width: 540px;
    position: relative;
}

.story__title {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    color: #0E1D2C;
    padding-top: 95px;
}

.story__text {
    padding-top: 40px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.65;
    color: #0E1D2C;
}

.story__icon {
    position: absolute;
    left: -65px;
    bottom: 0;
    opacity: 0.1;
}

/* Our-offers */

.our-offers {
    margin-top: 150px;
    background-color: #39B4FA;
}

.offers__wrap {
    position: relative;
}

.offer__item {
    display: flex;
}

.offer__content {
    width: 50%;
}

.offer__title {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 125px;
    padding-bottom: 35px;
    padding-right: 105px;
}

.offer__sub-title {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 26px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.5;
    padding-right: 105px;
}

.offer__about-offer-text {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.65;
    color: #FFFFFF;
    padding-top: 35px;
    padding-right: 105px;
    margin-bottom: 55px;
}

.transparent--btn {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.2s linear;
}

.transparent--btn:hover {
    background-color: rgb(7, 116, 179);
}

.transparent--btn:focus {
    outline: none;
    background-color: rgb(7, 116, 179);
}

.offer__image {
    width: 50%;
    position: relative;
    min-height: 685px;
}

.offer__picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.offer__buttons {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.previous::before {
    content: "";
    display: block;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-left: 2px solid #3EADEC;
    border-bottom: 2px solid #3EADEC;
}

.next::before {
    content: "";
    display: block;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    border-right: 2px solid #3EADEC;
    border-bottom: 2px solid #3EADEC;
}

.offer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 70px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.offer__btn:hover {
    border: 2px solid #3EADEC;
}

.offer__icon {
    position: absolute;
    right: 0;
    bottom: -180px;
    z-index: 5;
    opacity: 0.1;
}

/* Start team */

.team {
    margin-top: 170px;
}

.team .container {
    position: relative;
}

.team__title {
    text-align: center;
    margin-bottom: 95px;
}

.team__title-text {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    color: #0E1D2C;
}

.team__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.team__item {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 0 40px;
    margin-bottom: 80px;
}

.team__photo {
    border-radius: 100%;
    display: block;
    height: auto;
}

.team__item-info {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.team__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.25;
    color: #0E1D2C;
    padding-top: 40px;
}

.team__about {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.65;
    color: #0E1D2C;
    padding-top: 25px;
}

.team__icon {
    position: absolute;
    bottom: 265px;
    left: -165px;
    z-index: 5;
    opacity: 0.1;
}

/* Order */

.order {
    margin-top: 55px;
    padding: 105px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    position: relative;
}

.order .container {
    position: relative;
}

.order--overlay {
    background: #102531;
    opacity: 0.45;
    z-index: 5;
}

.order__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.order__title {
    max-width: 870px;
    padding: 0 20px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.order__icon {
    position: absolute;
    bottom: -256px;
    right: 350px;
    opacity: 0.1;
}

/* gallery */

.gallery {
    margin-top: 140px;
}

.gallery__title {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 57px;
    line-height: 1.2;
    text-align: center;
    color: #0E1D2C;
    padding: 0 20px;
}

.gallery__wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery__item {
    width: 25%;
    position: relative;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.gallery__photo {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    z-index: 10;
}